*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    transition: .4s;
}

:root{
    --favcolor1 : #A8343C;
    --favcolor2 : #E1CD8A;
}

a{
    text-decoration: none;
}

svg{
    width: 30px;
    height: 25px;
}

img{
    object-fit: cover;
}

ul{
    list-style-type: none;
}